.searchField {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  padding: 1.38rem;
  margin-bottom: 1rem;
  border-radius: 0.333rem;
}

.searchField::placeholder {
  color: var(--preto);
  font-weight: bold;
  font-size: 1.2rem;
}

.selectField {
  width: 100%;
  border: 1px solid black;
  padding: 1.38rem;
  margin-bottom: 1rem;
  border-radius: 0.333rem;
  color: var(--darkerGray);
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.selectField .selectFieldOption {
  font-weight: bold;
  cursor: pointer;
}

